.button {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    font-size: .75rem;
    background: skyblue;
    color: darkolivegreen;
    outline: none;
}

.button:hover {
    background: rgb(68, 151, 184);
    color: whitesmoke;
    opacity: 1;
}

.button:active {
    background: rgb(56, 126, 153);
    color: whitesmoke;
    opacity: 1;
}