  @import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
  html {
    font-family: 'IBM Plex Sans', sans-serif;
  }

  * {
    font-family: inherit;
  }

  body {
    max-width: 800px;
    margin: 0 auto;
    background: url("./assets/images/double-bubble-outline.png");
    color: darkolivegreen;
    font-size: 22px;
  }

  .footer {
    font-size: .7rem;
    text-align: center;
    color: rgba(128, 128, 128, 0.753);
    left: 0;
    bottom: 0;
    width: 100%;
  }

  nav {
    margin: .75rem;
    margin-top: 2.25rem;
    text-align: center;
    color: darkolivegreen;
    font-size: 1.55rem;
  }

  .int-nav {
    font-size: 1.35rem;
  }

  a {
    text-decoration: none;
    color: rgb(68, 151, 184);
    margin: .25rem;
  }

  a:hover {
    color: rgb(48, 110, 134);
    text-decoration: underline 2px darkolivegreen;
  }

  h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: .5rem;
  }